<main class="form-signin">
  <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    <div class="form-floating">
      <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name">
      <label for="name">Name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control"  formControlName="description" id="description" placeholder="description">
      <label for="description">Description</label>
    </div>
    <div class="form-floating">
      <input type="number" class="form-control" formControlName="quantity" id="quantity" placeholder="quantity">
      <label for="quantity">Quantity</label>
    </div>
    <!-- <div class="form-floating">
      <select class="form-control" formControlName="role" id="type" placeholder="type">
        <option>Buyer</option>
        <option>Seller</option>
      </select>
    </div> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">register</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>

<!-- <option *ngFor="let payCategory of timeEntry.payCategories" [value]="payCategory.payCategoryId">{{ payCategory.description }}</option> -->